<h1><%= @user.name %>'s Twats!</h1>
<%= link_to "Back to master feed", "/microposts" %>
<!-- <h3>Make a new post.</h3>
<%= form_tag microposts_path do %>
  <input type="text" placeholder="New Post" name="content"></input>
  <input name="user_id" type="hidden" value="<%= @user.id %>"></input>
  <button>Post!</button>
<% end %> -->


<ul>
  <% @posts.each do |p| %>
  <li>
    <p>Updated At: <%= p.updated_at.in_time_zone('Eastern Time (US & Canada)')%><p>
    <%= p.content %>
  </li>
  <% end %>
</ul>
